<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item " [ngClass]="{disabled: currentPage===0}">
      <a (click)="onBackClick()" class="page-link" href="#">Previous</a>
    </li>
    <ng-container  *ngFor="let image of images;let i=index">
      <li *ngIf="checkwindowsIndex(i)"  [ngClass]="setActiveClass(i)"  class="page-item">
        <a (click)="onClick(i)" class="page-link" href="#">{{i+1}}</a>
      </li>
    </ng-container>
   

    <li  class="page-item"  [ngClass]="{disabled: currentPage===images.length-1}" >
      <a (click)="onNextClick()" class="page-link" href="#">Next</a>
    </li>
  </ul>

</nav>
<div>
  <h2>{{images[currentPage-1]?.title}}</h2>
<img [src]="images[currentPage]?.url" style="max-width: 250px;max-height: 250px;">
</div>
<!-- <p *ngIf="isExist;else forelse">item found</p>
<ng-template #forelse>
  <p >item not found</p>
</ng-template>
<div [ngSwitch]="pageSize">
<p *ngSwitchCase="20">
page size small
</p>
<p *ngSwitchCase="30">
  page size medium
</p>
<p *ngSwitchCase="40">
  page size larg
</p> 

<p *ngSwitchDefault>
 page size is {{pageSize}}
</p>
</div>-->
